.table {
  margin-top: 20px;
  overflow: scroll;
  color: #0b6969;
  background-color: rgb(117, 179, 207);
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #d672c9;
}
